---
layout: iKnowledge
style: article
---
<div class="tags">
  关键字：
  {% for tag in page.tags %}
  <a href="/archive/{{ tag.id }}.html">{{ tag.name }}</a>
  {% endfor %}
</div>
<div id="article">
  {{ content }}
</div>
<div id="log">
  {% for log in page.logs %}
  <div class="record">
    <a href="mailto:{{ log.email }}">{{ log.author }}</a>：
    <span class="message">{{ log.message }}</span>
    <label class="timestamp">[{{ log.date | date: '%Y-%m-%d %H:%M:%S' }}]</label>
  </div>
  {% endfor %}
</div>
