#archive {
    margin-bottom: 2em;
    border-bottom: 1px dashed #99BCE8;
}

#archive h1 a {
    font-size: x-large;
    color: #008000;
}

#archive .timestamp {
    font-size: small;
    text-align: right;
    color: #999999;
    margin-bottom: 1em;
}
