/* 文章 */
#content {
    color: #555555;
}

/* 标题 */
#content h1, #content h2, #content h3 {
    color: #008000;
    margin-top: 1.5ex;
}

#content h1 {
    font-size: xx-large;
}

#content h2 {
    font-size: x-large;
}

#content h3 {
    font-size: large;
}

/* 段落 */
#content p {
    line-height: 1.4em;
    text-indent: 2em;
    margin-top: 1ex;
    margin-bottom: 1ex;
}

/* 列表 */
#content ol, #content ul {
    margin-left: 2em;
}

#content li {
    margin: 0.5em 0em;
    list-style-position: outside;
}

#content ol li {
    list-style-type: decimal;
}

#content ul li {
    list-style-type: disc;
}
