/* 文章 */
#article {
    color: #555555;
}

/* 标题 */
#article h1, #article h2, #article h3 {
    color: #008000;
    margin-top: 1.5ex;
}

#article h1 {
    font-size: xx-large;
}

#article h2 {
    font-size: x-large;
}

#article h3 {
    font-size: large;
}

/* 段落 */
#article p {
    line-height: 1.4em;
    text-indent: 2em;
    margin-top: 1ex;
    margin-bottom: 1ex;
}

/* 列表 */
#article ol, #article ul {
    margin-left: 2em;
}

#article li {
    margin: 0.5em 0em;
    list-style-position: outside;
}

#article ol li {
    list-style-type: decimal;
}

#article ul li {
    list-style-type: disc;
}

#article dl {
    margin: 0px;
}

#article dt {
    margin: 0.8em 0em 0.4em 1em;
    font-weight: bold;
}

#article dd {
    margin: 0.4em 0em 0.4em 2em;
}

/* 表格 */
.content-table {
    border-collapse: collapse;
    empty-cells: show;
}

.content-table th, .content-table td {
    border: 1px solid black;
    padding: 5px;
}

/* 修改历史 */
#log {
    padding-top: 1em;
    font-size: small;
    text-align: right;
}

#log .record {
    margin: 0.5em 0em;
}

#log .timestamp {
    color: #999999;
}
